$color--primary: #2196F3;

$color--grey--100: #F5F5F5;
$color--grey--200: #EEEEEE;
$color--grey--900: #212121;

@import 'bootstrap';
@import './components/header';
@import './components/filter';
@import './components/photos';

body {
	color: $color--grey--900;
	background-color: $color--grey--100;
}
h1,h2, h3,h4,h5,h6 {
	font-family: 'Lato', sans-serif;
	line-height: normal;
}

p,a {
	font-family: 'Lato', sans-serif;
	line-height: normal;
	color: $color--grey--900;
	display: block;
}

input, button, label {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

p {
	font-weight: 300;
	letter-spacing: 0.5;
	line-height: 1.35rem;
}

h1 {
	font-size: 3.5rem;
	font-weight: 700;
	letter-spacing: 2px;
	@media (max-width: 992px) {
		line-height: normal !important;
		font-size: 3rem;
	}
	@media (max-width: 768px) {
		font-size: 2rem;
	}
}

h2 {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: 2px;
	@media (max-width: 768px) {
		font-size: 1.75rem;
	}
}

h3 {
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 2px;
	@media (max-width: 768px) {
		font-size: 1.5rem;
	}
}

h4 {
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 2px;
	@media (max-width: 768px) {
		font-size: 1.25rem;
	}
}

h5 {
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 2px;
	@media (max-width: 768px) {
		font-size: 1rem;
	}
}

h6 {
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 2px;
	@media (max-width: 768px) {
		font-size: 0.75rem;
	}
}

.color--primary {
	color: $color--primary !important;
}

.hr {
	border: none;
	border-top: 1px solid $color--grey--200;
	display: block;
	width: 100%;
	margin: 0px;
}


.btn--primary {
	color: #ffffff;
	background-color: $color--primary;
	letter-spacing: 1px;
	font-weight: 300;
	transition: background-color 0.3s;
	cursor: pointer;

	&:hover {
		background-color: lighten($color--primary,10%);
	}
}
